[Unit]
Description=AT PS/2 driver
Documentation=https://managarm.org/

# Since we are part of the sysinit target, make sure we are started before
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/runsvr run /usr/lib/managarm/server/input-atkbd.bin

[Install]
WantedBy=sysinit.target
